---
import { createClient } from '@supabase/supabase-js';
import MainLayout from '../layouts/MainLayout.astro';

export async function getStaticPaths() {
    const supabaseUrl = 'https://ytbpkmmrhxeuawuggktn.supabase.co';
    const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0YnBrbW1yaHhldWF3dWdna3RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODY5NDEsImV4cCI6MTk5NDM2Mjk0MX0.C7HKtjFf03nvDpJTjYOtRlR-1nQ18yozjpLSTlaRKO8';
    const supabase = createClient(supabaseUrl, supabaseKey);

    const response = await supabase
        .from('festival_events')
        .select('*');

    const events = await response.data;

    return events.map((event) => ({
        params: { slug: event.slug },
        props: { event },
    }));
}

const { event } = Astro.props;

---

<MainLayout>
    <h1>{event.name}</h1>
    <p>{event.description}</p>
    <p>{event.date}</p>
    <p>{event.start_time}</p>
    <p>{event.end_time}</p>
    <p>{event.location}</p>
</MainLayout>
