---
import { createClient } from '@supabase/supabase-js';

const supabaseUrl = 'https://ytbpkmmrhxeuawuggktn.supabase.co';
const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0YnBrbW1yaHhldWF3dWdna3RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODY5NDEsImV4cCI6MTk5NDM2Mjk0MX0.C7HKtjFf03nvDpJTjYOtRlR-1nQ18yozjpLSTlaRKO8';

const supabase = createClient(supabaseUrl, supabaseKey);

const response = await supabase
  .from('festival_events')
  .select('*')
  .order('id', { ascending: true });

const events = response.data;

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>api test</title>
	</head>
	<body>
		<h1>Upcoming Events</h1>
		<ul>
			{events.map(event => (
				<li>
					<h2>{event.name}</h2>
					<p>{event.host}</p>
                    <p>{event.description}</p>
                    <p>{event.date}</p>
                    <p>{event.time}</p>
                    <p>{event.location}</p>
                    <p>{event.category[0]}</p>
                    <p>{event.category[1]}</p>
				</li>
			))}
		</ul>
	</body>
</html>
