---
// import LikeButton from "./LikeButton.astro";
import "../styles/global.css"

const date = Astro.props.date;

const weekday = new Date(date).toLocaleDateString('da-DK', { weekday: 'long' });

const weekdayCapitalized = weekday.charAt(0).toUpperCase() + weekday.slice(1);

const startTime = Astro.props.start_time;
const endTime = Astro.props.end_time;

const startHour = startTime.split(":")[0];
const startMinute = startTime.split(":")[1];

const endHour = endTime.split(":")[0];
const endMinute = endTime.split(":")[1];

const duration = (startHour + ":" + startMinute + " - " + endHour + ":" + endMinute);
---

<article class="event-card" style={{backgroundImage: `url(/imgs/${Astro.props.img}.webp)`}}>
  <div class="top-info">
      <div class="categories">
      {Astro.props.categories.map((category) => (
          <a class="category" href={`program?category=${category}`}>{category}</a>
      ))}
      </div>
  </div>
  <div class="card_stuff">
    <h1>
      <a href={`/${Astro.props.slug}`} class="title">
      {Astro.props.name}
      </a>
    </h1>
    <p class="host">Hosted by {Astro.props.host}</p>
    <div class="event_info time">
      <img src="/imgs/calendar_white.svg" alt="Calendar Icon" class="calendar">
      <div>
        <p>{weekdayCapitalized}</p>
        <p>{duration}</p>
      </div>
    </div>

    <div class="event_info location">
        <img src="/imgs/pin_white.svg" alt="Pin Icon" class="pin">
        <p>
          {Astro.props.location}
        </p>
    </div>
    <div class="read_more">
      <a href={`/${Astro.props.slug}`}>Læs mere</a>
    </div>

  </div>
</article>



<style>
  .event-card {
    width: 100%;
    min-width: 300px;
    aspect-ratio: 5/4;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: white;
    background-size: cover;
    box-shadow: inset 320px 0px 160px -120px rgba(15, 0, 5, 0.550), inset 0px 50px 85px -73px rgba(16, 16, 16, 0.7), inset 0px -60px 85px -61px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }

  .top-info {
    display: flex;
    justify-content: flex-start;
    align-items: top;
  }

  .card_stuff {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
  }

  h1 {
    margin-top: 1rem;
  }
  
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .category {
    background-color: rgb(239, 142, 182);
    padding: 0.35rem 0.8rem;
    border-radius: 200px;
    height: fit-content;
    color: #1d1d1d;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Inter', sans-serif;
  }

  .host {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .event_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;

  }

  .read_more {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

  }

  .read_more a {
    align-self: flex-end;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
  }

.location {
  transform: translateX(-0.15rem);
}

  a {
    color: inherit;
    text-decoration: none;
  }

  .calendar {
    width: 1.5rem;
    height: 1.5rem;
  }

  .pin {
    width: 1.8rem;
    height: 1.8rem;
  }

</style>