---
// import LikeButton from "./LikeButton.astro";
import "../styles/global.css"
---

<article class="event-card" 
style={{backgroundImage: `url(/imgs/${Astro.props.img}.webp)`}}>
  <div class="top-info">
    <div class="categories">
      {Astro.props.categories.map((category) => (
        <a class="category" href={`program.html?category=${category}`}>{category}</a>
      ))}
    </div>
  </div>
  <h1>
    <a href={`event.html?id=${Astro.props.id}`} class="title">
      {Astro.props.name}
    </a>
  </h1>
    <p class="host">
      Hosted by {Astro.props.host}
    </p>
      <a href={`event.html?id=${Astro.props.id}`} class="read-more">Read more</a>

</article>


<!-- EventCard.astro -->
<style>
  .event-card {
    width: 40%;
    min-width: 300px;
    aspect-ratio: 5/4;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    color: white;
    background-size: cover;
    box-shadow: inset 275px 0px 160px -90px rgba(15, 0, 5, 0.511), inset 0px 50px 85px -73px rgba(16, 16, 16, 0.7), inset 0px -60px 85px -61px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }

  .top-info {
    display: flex;
    justify-content: space-between;
    align-items: top;
  }
  
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .category {
    background-color: #DFB1B6;
    padding: 0.35rem 0.6rem;
    border-radius: 200px;
    height: fit-content;
    color: #1d1d1d;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: normal;
  }

  .host {
    font-size: 1rem;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .read-more {
    align-self: flex-end;
    font-weight: normal;
    cursor: pointer;
  }

  .like-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

</style>

<script>

</script>